BPEL/BPELColegio/src/192.168.16.12_7101/AplicacionColegioServidor-ProyectoColegioServidor-context-root/ServicioColegioNotaSWPort.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><xsd:schema xmlns:ns0="http://serviciosSW/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://serviciosSW/"><xsd:complexType name="darNotaEstudiante"><xsd:sequence><xsd:element name="documento" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="darNotaEstudianteResponse"><xsd:sequence><xsd:element name="return" type="xsd:double"/></xsd:sequence></xsd:complexType><xsd:element name="darNotaEstudiante" type="ns0:darNotaEstudiante"/><xsd:element name="darNotaEstudianteResponse" type="ns0:darNotaEstudianteResponse"/></xsd:schema>